version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000" 
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always
    environment:
      DB_HOST: db 

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    restart: always
    
  redis:
    image: redis:7-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  redis_data:
